[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "zsh_custom/themes/powerlevel10k"]
	path = zsh_custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "zsh_custom/plugins/zsh-autosuggestions"]
	path = zsh_custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh_custom/tmux/plugins/tpm"]
	path = zsh_custom/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "scripts/wabt"]
	path = scripts/wabt
	url = https://github.com/webassembly/wabt
[submodule "ubersicht/istats.widget"]
	path = ubersicht/istats.widget
	url = https://github.com/Exr0nProjects/istats.widget.git
    ignore = dirty
[submodule "dontrun_custom/elegant-emacs"]
	path = dontrun_custom/elegant-emacs
	url = https://github.com/rougier/elegant-emacs.git
[submodule "suckless/dwm-flexipatch"]
	path = suckless/dwm-flexipatch
	url = https://github.com/exr0n/dwm-flexipatch
