*private*
*cache*
**/.DS_Store
coc/extensions/db.json
coc/extensions/node_modules/*
coc/extensions/node_modules
coc/extensions/node_modules/**
coc/history.json
coc/snippets-mru
nvim/.netrwhist
snap
karabiner/automatic_backups
.emacs.d/calc.el
