.status-list {
    position: absolute;
    top: 100px;
    left: 10px;

    display: flex;
    flex-direction: column;
}

.status {
    display: flex;
    flex-direction: row;
}

.status-icons {
    display: inherit;
    flex-direction: inherit;
    width: 160px;
}
.status-icons > div {
    position: absolute;
    display: inherit;
    flex-direction: inherit;
    text-align: center;
    overflow: hidden;
    max-width: 30;
    height: 30;
}
.status-icon-clean {
    position: relative;
    color: lime;
    left: 0px;
}
.status-icon-dirty {
    position: relative;
    color: red;
    left: 0px;
}
.status-icon-staged {
    position: relative;
    color: orange;
    left: 40px;
}
.status-icon-modified {
    position: relative;
    color: yellow;
    left: 80px;
}
.status-icon-untracked {
    position: relative;
    color: blueviolet;
    left: 120px;
}
.status-hide {
    opacity: 5%;
}
.status-icon-count {
    line-height: 2em;
    font-size: 0.8em;
    font-family: Courier;
    color: white;
}

.status-path {
    line-height: 1.8em;
    font-family: Courier;
    color: white;
}

